@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";
@import "./progress-indicator-variables";

:host {
  display: flex;
}

.sky-progress-indicator-timeline {
  display: flex;
  flex-basis: $timeline-width;
  flex-direction: column;
  flex-grow: 0;
  margin-right: $timeline-width;
}

.sky-progress-indicator-timeline-icon {
  border-radius: $timeline-width;
  border: 2px solid $sky-border-color-neutral-medium;
  flex: 0 0 $timeline-width;
  margin-top: $icon-offset;
  width: $timeline-width;
}

.sky-progress-indicator-timeline-line {
  background-color: $sky-border-color-neutral-medium;
  flex: 1 0 auto;
  margin: 0 auto;
  width: 1px;
}

.sky-progress-indicator-timeline-status-active {
  .sky-progress-indicator-timeline-icon {
    background-color: $sky-highlight-color-success;
    border-color: transparent;
  }
}

.sky-progress-indicator-timeline-status-pending {
  .sky-progress-indicator-timeline-icon {
    border-color: $sky-highlight-color-success;
  }
}

.sky-progress-indicator-timeline-status-complete {
  .sky-progress-indicator-timeline-icon {
    border-color: transparent;
    color: $sky-highlight-color-success;
    margin-top: 0;

    > ::ng-deep sky-icon {
      display: inline-flex;
      margin-left: -1px;
      vertical-align: top;
    }
  }

  .sky-progress-indicator-timeline-line {
    background-color: $sky-highlight-color-success;
  }
}
